<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="/assets/css/video.css">
    <title>YantroMitra</title>
    <link rel = "icon" href =  
    "/assets/images/ylogo.png" 
            type = "image/x-icon"> 
  </head>
  <body>

<h1> YantroMitra</h1>

<div class="container-fluid" style="display: none; width: 300px;z-index: 100;margin-left: 0px;position: fixed;" id="bar">
    <div class="row">
      <!-- Sidear -->
      <div class="bg-light" style="height: calc(100vh - 70px);position: sticky;overflow-y:auto;">
        <div>
            <ul class="nav flex-column sidebar-nav">
                <li class="nav-item" id="close">
                    <a class="nav-link" href="#">
                    Close <strong>X</strong>
                    </a>
                  </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">
                     
                      > Home
                    </a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                          > Show Registered Users
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/admin/message">
                          > Show Messages From Users
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/dataentry">
                          > Add New Course
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/addnewsubject">
                          > Add New Subject
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/addnewchapter">
                          > Add New Chapter
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/addnewvideo">
                          > Add New Video
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/createtest">
                          > Create New Test
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/showdoubtadmin">
                          > Show Doubts From Students
                        </a>
                      </li>
                      
                 
                      <br>
                      <li class="nav-item">
                        <button style="border: none;" class="nav-link" onclick="history.go(-1)">
                          
                          Go Back
                        </button>
                      </li>
              </ul>
        </div>
      </div>
    </div>
  </div>

<div id="mainbody">
    <nav class=" navbar-expand-lg navbar navbar-dark fixed-top bg-primary">
        <button id="use" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="nav navbar-nav">
            

                <% if(currentUser){%>
                <a class="nav-item nav-link active" href="#">Hey <strong><%=currentUser.name%></strong>!</a>
                <a class="nav-link" href="/logout" style="color: white;">Logout</a>
                 
              <%}%>
          </div>
        </div>
      </nav>
    
    <div class="container-fluid" >
        <div class="row">
          <!-- Sidear -->
          <div class="bg-light d-none d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                          Home
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/admin">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Show Registered Users
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/admin/message">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Show Messages From Users
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/dataentry">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Add New Course
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/addnewsubject">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Add New Subject
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/addnewchapter">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Add New Chapter
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/addnewvideo">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Add New Video
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/createtest">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Create New Test
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/showdoubtadmin">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Show Doubts From Students
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/createnotification">
                          <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                           Create Notification
                        </a>
                      </li>
                      
                          <br>
                          <li class="nav-item">
                            <button style="border: none;" class="nav-link" onclick="history.go(-1)">
                              <svg class="bi bi-chevron-right" width="16" height="16" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
                              Go Back
                            </button>
                          </li>
                  </ul>
            </div>
          </div>
        </div>
      </div>



      <main role="main" id="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <!--Message-->
  <div class="container">
    <% if(error && error.length>0) {%>
      <br>
    <h5><div class="alert alert-danger" role="alert">
      <%= error %>
    </div></h5>
    <% } %>
    <% if(success && success.length>0){%>
      <br>
   <h5><div class="alert alert-success" role="alert">
      <%= success %>
    </div></h5>
    
    <% } %>	
  </div>
      
         <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"></main>
         
         <div class="container-fluid">
          <h3 class="mt-4">User Details</h3>
          <div class="table-responsive">
            <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Course</th>
                </tr>
              </thead>
              <tbody>
                  <% users.forEach(function(user){ %>
                    <% var i=1;%>
                    <% if(user.isAdmin == false && user.isSchoolAdmin == false){%>
                <tr>
                  <th scope="row"><%=i%></th>
                  <td><a href="/showforuser/<%=user._id%>"><%= user.name %></a></td>
                  <td><%= user.username %></td>
                  <td><%= user.phone %></td>
                  <td><%= user.education %></td>
                </tr>
                <%}%>
                <% i++; }) %>
              </tbody>
            </table>
          </div>
        </div>
     </main>
     </div>

     

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="/assets/js/video.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 </body>
</html>