<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YantroMitra</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <link rel = "icon" href =  
"assets/images/ylogo.png" 
        type = "image/x-icon"> 

  <!-- Favicons -->
  
  <link href="assets/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet"> <!--load all styles -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/room.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/register.css" rel="stylesheet">
  

  
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="icofont-envelope"></i><a href="mailto:pmkulkarni@yantromitra.in" style="font-size:large;">pmkulkarni@yantromitra.in</a>
        <i class="icofont-phone"></i><a href="tel:+918618630980" style="font-size:large;">+918618630980</a>
        
      </div>
      <div class="contact-info float-right">
        <a href="" id="revbtn" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalScrollable" style="color: white;font-weight: 600;" >YantroTSAVA Registration Form</a>
      </div>
      
    </div>
  </section>


    

    <!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle" style="font-weight: 700;">YantroTSAVA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/yantrostava" method="POST">
          <div class="form-group">
            <label for="Deligate Name1">Deligate Name 1</label>
            <input type="text" class="form-control" id="Deligate Name1" name="yantro[del1]">
          </div>
          <div class="form-group">
            <label for="Deligate Name2">Deligate Name 2</label>
            <input type="text" class="form-control" id="Deligate Name2" name="yantro[del2]">
          </div>
          <div class="form-group">
            <label for="Deligate Name3">Deligate Name 3</label>
            <input type="text" class="form-control" id="Deligate Name3" name="yantro[del3]">
          </div>
          <div class="form-group">
            <label for="Taluka">Taluka</label>
            <input type="text" class="form-control" id="Taluka" name="yantro[taluka]">
          </div>
          <div class="form-group">
            <label for="District">District</label>
            <input type="text" class="form-control" id="District" name="yantro[district]">
          </div>
          <div class="form-group">
            <label for="Phone Number">Phone Number</label>
            <input type="text" class="form-control" id="Phone Number" name="yantro[phnno]">
          </div>
          <div class="form-group">
            <label for="School Name">School Name</label>
            <input type="text" class="form-control" id="School Name" name="yantro[schoolname]">
          </div>
          <div class="form-group">
            <label for="School Email">School Email</label>
            <input type="text" class="form-control" id="School Email" name="yantro[schoolemail]">
          </div>

          <button type="submit" class="btn btn-primary" style="width: 100%;">Register</button>
          <br>
          <br>
          <p>Note: School can send multiple teams. In case there is any change in delegate, the same can be notified by an email to <a href="mailtto:pmkulkarni@yantromitra.in">pmkulkarni@yantromitra.in</a> Every team can have one teacher accompanying it.
            For further details call us at <a href="tel:8618630980">8618630980</a></p>
        </form>

      </div>
    </div>
  </div>
</div>

<!--Model ends-->



  <!-- ======= Header ======= -->
  <header id="header" style="background-color: black;">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light" style="text-transform: none;"><a href="index.ejs"><span>YantroMitra</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#services">Our Courses<i class="icofont plus"></i></a></li>
        <li><a href="#"><i class="icofont-hand-right"></i>Apply For Franchise</a></li>

        <% if(!currentUser){ %>  
        <li><a href="/register" class="btn btn-primary" style="color: white; font-weight: 600;">Register For Free</a></li>

         <% } else{ %>
          <li><a href="/user/<%= currentUser._id %>" style="color: white;"><strong><em><%= currentUser.username %></em></strong></a></li>
         <li><a href="/logout">Logout</a></li>
       <%	} %>
        
        
        </ul>
        
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!--Message-->
  <div class="container">
    <% if(error && error.length>0) {%>
      <br>
    <h5><div class="alert alert-danger" role="alert">
      <%= error %>
    </div></h5>
    <% } %>
    <% if(success && success.length>0){%>
      <br>
   <h5><div class="alert alert-success" role="alert">
      <%= success %>
    </div></h5>
    
    <% } %>	
  </div>

<br>


<div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="heading">
        Welcome to YantroMitra online classes!
        <hr style="width: 48%;">
    </div>
</div>

<br>
<div class="cont">

<div class="chapter" data-aos="fade-up" data-aos-delay="100">
<strong><h5 style="padding-left: 2%;"> Chapter : <%=chap.name %></h5></strong>
</div>
<br>
<br>
<div class="lectures" style="padding: 2%;"data-aos="fade-up" data-aos-delay="100">
<br>
  <div class="row" style="display:flex; flex-wrap: wrap;">
    <% chap.videos.forEach(function(video){ %>
    <div class="col-lg-6 col-md-6 col-sm- column">
      <iframe width="100%" height="200" src="<%= video.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="caption"><%= video.caption %></div> 
    </div>
    <% })%>
  </div>
 
</div>

<hr style="line-height:20px; color: black;">
</div>














<br>
<br>
<div style="background: #3b5e7c; height: 100px;text-align: center;position: relative;" >
    <div class="container" style="color: white; position:absolute;top: 44%;left:11.5%;">
      <div>
        &copy; Copyright <strong><span>YantroMitra</span></strong>. All Rights Reserved
      </div>
  </div>
  </div>
  
 <!-- JS Files -->
 <script src="assets/vendor/jquery/jquery.min.js"></script>
 <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
 <script src="assets/vendor/php-email-form/validate.js"></script>
 <script src="assets/vendor/jquery-sticky/jquery.sticky.js"></script>
 <script src="assets/vendor/venobox/venobox.min.js"></script>
 <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
 <script src="assets/vendor/counterup/counterup.min.js"></script>
 <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
 <script src="assets/vendor/aos/aos.js"></script>
<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
 
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="assets/js/class.js" type="text/javascript"></script>
</body>
</html>