<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Link Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <br>
    <br>
    <h3 style="text-align: center;">Add Video Links to Chapter: <i style="text-decoration: underline;"><%=chap.name%></i></h3>
    <br>

    <div class="container" style="width: 70%;">


        <% if(success && success.length>0){%>
            <br>
         <h6><div class="alert alert-success" role="alert">
            <%= success %>
          </div></h6>
          
          <% } %>	


    <form action="/video/<%= chap._id%>/subject/<%= subject._id%>/course/<%= course._id %>" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Video's Link</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="video[link]" required>
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Caption for the Video</label>
          <input type="text" class="form-control" id="exampleInputPassword1" name="video[caption]" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <h6>Done with adding videos?</h6>
      <a href="/chapterfor/<%= subject._id %>/course/<%= course._id %>" class="btn btn-primary">Add New Chapter</a>
      <br>
      <h6>Done with this subject?</h6>
      <a href="/subjectfor/<%=course._id%>" class="btn btn-primary">Add New Subject</a>
      <br>
      <h6>Done with this Course?</h6>
      <a href="/dataentry" class="btn btn-primary">Add New Course</a>
      <br>
      <br>
      <h6>Done?</h6>
      <a href="/" class="btn btn-primary">Go to home page!</a>
      </div>






    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>