<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="/assets/css/index.css">
    <title>YantroMitra</title>
    <link rel = "icon" href =  
    "/assets/images/ylogo.png" 
            type = "image/x-icon"> 
  </head>
  <body>

<h1> YantroMitra</h1>

    <nav class=" navbar-expand-lg navbar navbar-dark fixed-top bg-primary">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            

                <% if(currentUser){%>
                <a class="nav-item nav-link active" href="#"><%=currentUser.name%></a>
                <a class="nav-link" href="/logout" style="color: white;">Logout</a>
                 
              <%}%>
              <a class="nav-item nav-link active" href="javascript:history.back()">Go Back</a>
          </div>
        </div>
      </nav>

      
     <div class="container" id="div" style="text-align: center;margin-top:180px;">
     
        <button id="btn" class="btn btn-primary" onclick="getdata()" style="width: 220px;height: 55px;background-color: #007bff;color: white;font-size:22px;">Start Quiz</button>
     </div>
  
      <div class="wrapper" id="wrapper" style="margin: 0 auto;">
          <div class="quiz container-fluid">
            <div class="quiz_header">
              <div class="quiz_user">
              </div>
              <div class="quiz_timer">
                <span class="time">00:00</span>
              </div>
            </div>
            <div class="quiz_body">
              <div id="questions">
              
    
                <!-- <ul class="option_group">
                  <li class="option">option 1</li>
                  <li class="option">option 2</li>
                  <li class="option">option 3</li>
                  <li class="option">option 4</li>
                </ul> -->
              </div>
    
              <button class="btn-next" id="nextbtn" onclick="next()">Next Question</button>
              <button class="btn-next" style="display: none;" id="submitbtn" onclick="submit()">Submit</button>
            </div>
          </div>
        </div>
     </div>

     <div class="container" id="result" style="text-align: center;margin-top:180px;display: none;">
    
      <% if(currentUser){%>
      <h4><%=currentUser.name%></h4>
      <%}%>
      <br>
      <h5 id="totalmarks"></h5>
      <br>
      <h5 id="score"></h5>
      <br>
      <h5 id="percentage"></h5>
      <br>
      <h5 id="time"></h5>
      <br>
      <a href="/solutions/<%=test._id%>" class="btn btn-primary btn-lg">Show Solution</a>
    </div>
     
         
        <form id="form" action="/savescorefortest/<%=test._id%>/user/<%=currentUser._id%>" method="POST" style="display: none;">
        <input type="text" name="score" id="input">
        <input type="text" name="fullmarks" id="input2">
        <input type="text" name="percentage" id="input3">
        <button type="submit">Submit</button>
        </form>
             
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="/assets/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>